* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  width: 100%;
  height: 100vh;
  background-color: rgb(182, 182, 47, 0.5);
}
#header {
  width: 100%;
  height: 80px;
  background-color: rgb(235, 235, 14);
  display: flex;
}
.first,
.second {
  display: inline-block;
  display: flex;
  align-items: center;
  align-items: start;
}
.first {
  width: 30%;
  padding-left: 100px;
  justify-content: start;
}
.first sub {
  font-size: 20px;

  font-weight: bold;
}
.second {
  width: 70%;
  padding: 0;
  justify-content: start;
  /* justify-content: center; */
}
.second a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: bold;
  margin-right: 50px;
}

#content {
  width: 100%;
  height: 400px;
  /* background-color: inherit; */
  display: flex;
  align-items: center;
}
.intro,
.pic {
  width: 50%;
  height: auto;
  display: inline-block;
}

.pic img {
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 50%;
}

.intro * {
  margin-left: 200px;
  margin-top: 10px;
}
.intro h1 {
  text-align: left;
}
.pic {
  display: flex;
  justify-content: end;
}



#footer {
  width: 100%;
  height: 50px;
  background-color: rgb(235, 235, 14);
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: rgb(235, 235, 14);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px white, -1px -1px 1px white, 3px 3px 3px white,
    -3px -3px 3px white;
}

#btnGroup {
  display: flex;
  justify-content: space-between;
  padding-right: 400px;
  /* padding-top: 10px; */
}
#btnGroup button {
  width: 100px;
}

#about * {
  margin-top: 10px;
}

form {
  width: 50%;
  height: auto;
  margin: auto;
  text-align: center;
  margin-top: 50px;
  padding: 50px 50px;
  background-color: rgb(182, 182, 47, 1);
}

form input,
textarea {
  margin-top: 20px;
  width: 80%;
  height: 30px;
  text-align: left;
}

form textarea {
  height: 100px;
  margin-bottom: 10px;
}
